Adapters/SoapAdapters/src/main/resources/xsd/auth.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://rentafield.com/tks/soap/auth"
           targetNamespace="http://rentafield.com/tks/soap/auth"
           elementFormDefault="qualified">

    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accessToken" type="xs:string"/>
                <xs:element name="refreshToken" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="refreshRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="refreshToken" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="refreshResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accessToken" type="xs:string"/>
                <xs:element name="refreshToken" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>